<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERREUR 404</title>
    <link rel="stylesheet" href="../styles.css"> 
    <style>
        html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

section {
    width: 50%;
    margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: auto; 
}

    </style>
</head>
<body style="width: 50%; margin: auto;">
    <%- include('./Header.ejs')%>
    <section>
        <p>Veuillez remplir les champs avec un contenu valide</p>
        <% erreur.forEach(error => { %>
            <%= error.msg %></p>
            <hr> 
        <% }) %>
    </section>
    
</body>
<%- include('./Footer.ejs')%>
</html>