<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Propos</title>
</head>
<body style="width: 50%; margin: auto;">
    <header>
        <h1>ERREUR 404</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/apropos">A propos</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>La page n'existe pas</p>
    </section>
    
</body>
</html>